<html>

<head>
  <title>Contact Tommy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.js"></script>
</head>

<body>
  <div class="col-6">
    <form action="/thanks" method="POST" id="contact" name="submit-to-google-sheet">

      <div class="form-group">
        <label for="firstName" style="color: white">First Name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
      </div>  
      <div class="form-group">
        <label for="lastName" style="color: white">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="email" style="color: white">Email address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="name@email.com">
      </div>
      <div class="form-group">
        <label for="message" style="color: white">Message</label>
        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
  <script>  
      const scriptURL = 'https://script.google.com/macros/s/AKfycbzmANY2gjEoiFuwGL8aqSLoCsvbdDNQ6O6jZdjYt18XUFCIvE8/exec'
      const form = document.forms['contact']
      form.addEventListener('submit', e => {
         
          fetch(scriptURL, { method: 'POST', body: new FormData(form) })
              .then(response => console.log('Success!', response))
              .catch(error => console.error('Error!', error.message))
      });  
  </script>
</body>
</html>